.target-grid {
  position: absolute;
  z-index: 100;

  display: grid;
  grid-template-columns: repeat(10, minmax(0, 50px));
  grid-template-rows: repeat(10, minmax(0, 50px));

  border-top: 1px solid white;
  border-left: 1px solid white;

  .target-cell {
    width: 100%;
    height: 100%;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    transition: all 0.1s ease-in;
  }

  &.active {
    .target-cell:hover {
      box-shadow: inset 0 0 5px 2px turquoise;
    }
  }
}
