.drag-item {
  background: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;

  &.dragging {
    opacity: 0;
  }

  &.arrowhead {
    background-image: url('/assets/arrowhead.svg');
  }

  &.vice {
    background-image: url('/assets/vice.svg');
  }

  &.claw {
    background-image: url('/assets/claw.svg');
  }

  &.ray {
    background-image: url('/assets/ray.svg');
  }

  &.stub {
    background-image: url('/assets/stub.svg');
  }

  &.long-tail {
    background-image: url('/assets/longTail.svg');
  }

  &.satellite {
    background-image: url('/assets/satellite.svg');
    width: 95px;
    height: 45px;
  }
}
