.game-setup {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .button-panel {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
  }

  .grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(10, minmax(0, 50px));
    grid-template-rows: repeat(10, minmax(0, 50px));

    border-top: 1px solid white;
    border-left: 1px solid white;

    .drop-area {
      width: 100%;
      height: 100%;
      border-right: 1px solid white;
      border-bottom: 1px solid white;

      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      &.none {
        background: transparent;
      }

      &.can-drop {
        background-color: green;
      }

      &.cannot-drop {
        background-color: red;
      }

      &.ship-footprint {
        background-color: turquoise;
      }
    }
  }
}
